/* Your button CSS file */
.btn-treehouse {
  color: white;
  transition: background 400ms linear;
  font-weight: bold;
  background-color: #0e8f37;
  border-radius: 25px;
  padding: 15px 25px;
}

.btn-treehouse:hover {
  background-color: #5709be;
  transition: background 400ms linear;
}
